@model IEnumerable<RakietyTenisowe.Models.RakietaJuniorska>
@{
    ViewBag.Title = "Odpowiedź - rakieta juniorska";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<section>
    
    <h1> Rakiety tenisowe odpowiednie dla twojego doświadczenia:</h1>
    <br/>

    <table style="width: 80%; padding-left: 10%; padding-right: 10%">
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Długość
            </th>
            <th>
                Rozmiar główki
            </th>
            <th>
                Waga
            </th>
            <th style="text-align: center">
                Zdjęcie
            </th>
            <th>
                Cena
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dlugosc)"
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Glowka)"
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Waga)g
                </td>
                <td style="text-align: center">
                    <img src="@Url.Content(item.Zdjecie)" alt="Alternate Text" style="height: 250px; width: 250px" />
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Cena)
                </td>
            </tr>
        }
    </table>
</section>
